//@import "./lib/custom.bootstrap.import.less";
@import "./lib/custom.bootstrap.less";
@import "./lib/custom.bootstrap.import.less";
@import "./lib/custom.bootstrap.mixins.import.less";
//@import "./public/less/material.less";
//@import "./public/less/ripples.less";
@import './tournament/tournamentBracket/_tournamentBracket.less';
@import './tournament/tournamentAdmincp/tournamentAdmincp.import.less';

@primary: #3F51B5;

body {
  background-color: #1a1b39;
  color: #FFF;
}

.panel {
  color: #000;
}

.form-control {
  @primary: #FFF;
}

.tournament-container .tournament-well {
  background-color: #181A1F;
}

.admincp-panel {
  &:extend(.panel);
  &:extend(.panel-primary);
}

.admincp-panel--heading {
  &:extend(.panel-heading);
}

.admincp-panel--body {
  &:extend(.panel-body);
}
