//@import '.meteor/local/build/programs/server/assets/packages/reywood_bootstrap3-sass/bootstrap';
//@import '.meteor/local/build/programs/server/assets/packages/reywood_bootstrap3-sass/assets/stylesheets/bootstrap/theme';
// Templates
@import "./public/less/material.less";
@import "./public/less/ripples.less";
@import './tournament/tournamentUsercp/_tournamentUsercp.less';
@import './tournament/tournamentUsercp/tournamentUsercpReport/_tournamentUsercpReport.less';
@import './_mainLayout.less';
@import './tournament/tournamentAdmincp/_tournamentAdmincp.less';
@import './tournament/tournamentBracket/_tournamentBracket.less';

@primary: #3F51B5;

body {
  background-color: #1a1b39;
  color: #FFF;
}

.panel {
  color: #000;
}
