.bracket {
  margin: 0 auto;
}

.bracket tr th {
  text-align: center;
  padding-right: 20px;
}

.match-player {
  position: relative;
  height: 24px;
  width: 150px;
  border: solid 1px #aaa;
  background-color: rgb(242, 242, 242);
  font-size: 11px;
  line-height: 22px;
  padding-left: 6px;
  margin-right: 20px;
}

.match-player-1 {
  margin-top: 10px;
  border-radius: 2px 2px 0 0;
}

.match-player-2 {
  margin-bottom: 10px;
  border-radius: 0 0 2px 2px;
}

.match-player-score {
  position: absolute;
  right: 0;
  top: 0;
  line-height: 22px;
  width: 21px;
  background-color: #ebebeb;
  border-left: solid 1px #aaa;
  text-align: center;
}

.match-player-protoss {
  background-color: rgb(184, 242, 184);
}

.match-player-terran {
  background-color: rgb(184, 184, 242);
}

.match-player-zerg {
  background-color: rgb(242, 184, 184);
}

.match-player-random {
  background-color: rgb(242,232,184);
}

.bracket-line-top-left {
  position: absolute;
  width: 11px;
  top: 22px;
  right: -12px;
  border-top: solid 2px #aaa;
  border-right: solid 2px #aaa;
  border-top-right-radius: 3px;
}

.bracket-line-bottom-left {
  position: absolute;
  width: 11px;
  bottom: -2px;
  right: -12px;
  border-bottom: solid 2px #aaa;
  border-right: solid 2px #aaa;
  border-bottom-right-radius: 3px;
}

.bracket-line-top-right {
  position: absolute;
  width: 11px;
  height: 14px;
  top: -2px;
  left: -12px;
  border-bottom: solid 2px #aaa;
  border-left: solid 2px #aaa;
  border-bottom-left-radius: 3px;
}

.bracket-line-bottom-right {
  position: absolute;
  width: 11px;
  height: 14px;
  bottom: -26px;
  left: -12px;
  border-top: solid 2px #aaa;
  border-left: solid 2px #aaa;
  border-top-right-radius: 3px;
}
